.thumbnail img{
    width : 100%;
}

#showThumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline; 
}

.checked {
    color: orange;
}

#AddNew{
    margin-top: 20px;
}

#txtarea{
    height: 200px;
}